body{
    background-color:blanchedalmond;
}

img {
    width: 500px;
    height: 800px;
}

h3 {
    align-items: center;
}

.container-2 {
color:black;
display: flex;
flex-direction: row;
gap: 10px;
justify-content:center;

}



.container-3 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content:center;
    
}



.footer {

}