body{
    background-color:rgba(255, 255, 255, 0.926);
}

/* this CSS is blocked for testing purpose rn
img {
    width: 200px;
    height: 200px;
}
*/

.header {
    background-color: rgba(216, 216, 211, 0.762);
}

.container-2 {
color:black;
display: flex;
flex-direction: row;
gap: 10px;
justify-content:center;

}



.container-3 {
    display: flex;
    flex-direction: row;
    gap: 400px;
    justify-content:center;
    margin-top: 5%;
    
}

.container-31,h3 {
    text-align: center;
}


.footer {

}