body{
    background-color:rgba(255, 255, 255, 0.932);
}

.button-1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button-2 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}



.zee-1{
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.zee-2{
    width: 400px;
    height: 500px;
}

.zee-3{
    width: 400px;
    height: 500px;
}


.header {
    background-color: rgba(238, 232, 213, 0.873);
}

.container-2 {
color:black;
display: flex;
flex-direction: row;
gap: 30px;
justify-content:center;

}



.container-3 {
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content:center;
    margin-top: 5%;
    
}



.footer {
background-color: rgb(249, 243, 234);
display: flex;
justify-content: center;
}




.zee-4 {
    height: 30px;
    width: 30px;
}

.zee-5 {
    height: 30px;
    width: 30px;
}