body{
    background-color:rgba(255, 255, 255, 0.932);
}

.button-1 {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #555555;
    float:inline-start;
    margin-top: 10px;
    margin-bottom: 40px;
}

.button-2 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    margin-top: 10px;
    margin-bottom: 40px;
}


.button-1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.button-1:active {
    background-color: rgb(249, 243, 234);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-2:active {
    background-color: rgb(249, 243, 234);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



.zee-1{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.zee-2{
    width: 400px;
    height: 500px;
}

.zee-3{
    width: 400px;
    height: 500px;
}


.header {
    background-color: rgb(249, 243, 234);
}

.container-2 {
color:black;
display: flex;
flex-direction: row;
gap: 30px;
justify-content:center;

}



.container-3 {
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content:center;
    margin-top: 50px;
    
}

.container-31 {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container-32 {
display: flex;
flex-direction: column;
align-items: center;
}



.footer {
background-color: rgb(249, 243, 234);
display: flex;
justify-content: center;
}




.zee-4 {
    height: 30px;
    width: 30px;
}

.zee-5 {
    height: 30px;
    width: 30px;
}